/*********** FOOTER ***********/

hr {
    height: 1px;
    background-color: #aaaaaa;
    margin: 0;
}

.footer {
    background-color: #000;
}

.nav-footer ul li a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    border-left: 2px solid #fff;
    padding: 0 12px;
    font-weight: 500;
}

.nav-footer ul li a span {
    color: #fff;
    transition: all .2s ease-in-out;
}

.nav-footer ul li a span:hover {
    color: #92241c;
}

.footer .row .col-12 {
    margin: 5px;
}

.footer .row .col-12 p {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 12px;
    font-weight: 500;
    color: #fff;
    letter-spacing: .01em;
}