/*********** HEADER / NAV ***********/
.header .col-4 {
    flex-basis: 20%;
}
.header .col-8 {
    flex-basis: 80%;
}
.col-8 .nav {
    width: 100%;
}
.col-8 .nav ul {
    text-align: right;
}
.col-8 .nav ul li {
    padding: 10px;
}
.col-8 .nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 1.2em;
    margin-left: 22px;
    display: flex;
    flex-wrap: wrap;
    transition: all .2s ease-in-out;
}
.col-8 .nav ul li a:hover {
    color: #92241c;
}
.col-8 .nav ul li .contact-number {
    border-left: 2px solid #fff;
}